<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415963763367-upg2ecdbea9b55dahg3cvmtm9j08hftr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415963763367-upg2ecdbea9b55dahg3cvmtm9j08hftr</string>
	<key>API_KEY</key>
	<string>AIzaSyCqTLxVMFytXhb0EqbZd6hKZl83JaUV15U</string>
	<key>GCM_SENDER_ID</key>
	<string>415963763367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseRtdbConcept</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-rtdb-concept</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-rtdb-concept.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415963763367:ios:bd1f2bc7cc6fdcf5a00182</string>
</dict>
</plist>